body {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Inter";
}

nav .container {
  padding: 0 15px;
}

section {
  padding: 0 10px;
}

.box-title {
  max-width: 515px;
}

.box-title h1,
.box-title h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  font-size: 56px;
  color: #0a093d;
}
.box-title h2 {
  font-weight: 600px;
  font-size: 36px;
  line-height: 48px;
}

.box-title h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #2f2c4a;
}

span {
  font-style: normal;
  font-weight: 500px;
  font-size: 18px;
  line-height: 18px;
  color: #217bf4;
}

p {
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  color: #656464;
}

.btn-blue,
.btn-blue-outline,
.btn-blue-light {
  border-radius: 14px;
  background-color: #217bf4;
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;

  padding: 18px 44px;
}

.btn-blue-light {
  color: #217bf4;
}

.btn-blue-outline {
  border: 1px solid #217bf4;
  background-color: transparent;
  color: #217bf4;
}

#header .menu-navigation a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #656464;
}
#header .menu-navigation a.active {
  font-weight: 600;
  color: #2b2b39;
}

#header .menu-action .search-box {
  width: 105px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

#header .menu-action .search-box input {
  font-size: 12px;
  padding: 0;
}

.box-icon {
  width: 66px;
  padding: 18px;
  border-radius: 24px;
}

.box-name {
  width: 166px;
  height: 166px;
  border-radius: 100%;
  background-color: #ffffff;
}

.footer ul li,
h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.0125em;
  color: #e7e7e7;
}

.getting-started {
  width: 100%;
  margin-top: 32px;
  border-radius: 12px;
}

.getting-started form {
  display: flex;
  width: 100px;
  margin: 0;
}

.getting-started input {
  padding: 18px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.0125em;
  color: #717179;
  background: transparent;
  border: 0;
  flex: 1;
}

.getting-started button {
  background: #ffffff;
  padding: 16px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #2b2b39;
  border-radius: 12px;
}

#header .container {
  padding: 0 20px;
}
